<%- include("partials/header") -%>
  
<link rel="icon"  href="public\images\favicon (5).ico">
<section id="title">
  <div class="container" style="padding-bottom: 150px;">
    <div class="row">
      <div class="col-lg-6 col-sm-12">
        <h1 class="font">Bringing together people with the force of code </h1>
      </div>
     
      <div class="col-lg-6 col-sm-12">
        <img src="images/diversity.png" alt="" class="phoneimg">
    </div>
   
</section>
 <!-- <%- include("partials/footer") -%> -->